* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
  color:#fff;
  font-size: 18px;
  outline: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  background-color: #F9F8F8;
  padding: 20px;
}
.flex-box {
  display: flex;
}

.questions {
  width: 50%;
  background: #98B1B2;
  text-align: center;
}

.terminal-container {
  width: 50%;
  text-align: center;
}

.console {
  width: 80%;
  height: 300px;
  background-color: #0E1E24;
}

.output {
  width: 80%;
  height: 300px;
  background-color: #0E1E24;
}

.terminal {
  width:500px;
  height:600px;
  background-color:#474843;
}

.execution-btn {
  display: block;
  width: 100px;
  height: 40px;
  background-color: #E19B53;
  margin: 0 auto;
}

.language {
  margin: 30px;
}

.language img {
  width: 150px;
  height: 150px;
  background-color: transparent;
}
